.idea/
cmake-build-debug/
.DS_Store
build/
.vscode/
ArmoredTransport.o
.gitignore
Equipment.o
LogisticsMission.o
BaseFacility.o
Date.o
Jeep.o
main.o
.gitignore
Mission.o
.gitignore
Officer.o
Report.o
Soldier.o
TrainingMission.o
Truck.o
Unit.o
Vehicle.o
Warehouse.o
MilitarySystem.o
MilitarySystem
